.callRequest {
  position: fixed;
  top: 0;
}

.hide {
  opacity: 0;
  transition-duration: 0.5s;
}

.show {
  opacity: 1;
  transition-duration: 1s;
}

.modal.show {
  top: 0;
}
.ant-form-item {
  margin-bottom: 10px;
}
.modal-footer {
  border-top: none;
}
.ant-modal-footer {
  display: none;
}
