header {
	background: #ffa101;
	color: #34333b;
}

.header-main {
	padding: 20px 0 20px 0;
	align-items: center;
}

.header-logo {
	display: flex;
	font-size: 18px;
	line-height: 1.4;
}

.header-logo img {
    margin-right: 20px;
    width: 100px;
}

.header-search .form-control {
	border-radius: 30px;
}
/*.header-basket { position: relative; }*/
.header-basket_body a:hover {
	background: #0f6674;
}

.header-search_body input { font-style: italic; padding-left: 15px; }

.header-search button {
	position: absolute;
	right: 15px;
	top: -4px;
	border: 0 !important;
	background: none !important;
	width: auto;
	font-size: 22px;
	cursor: pointer;
	color: #c41c3d !important;
}
.header-phone_number { margin: -20px 20px 0 0; }

.header-phone_number p {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	font-size: 21px;
}

.header-phone_number p:hover {
	text-decoration: underline;
}

.header-phone_button {
	margin-top: 12px;
}

.header-phone_button button {
	background: #c32548;
	color: #fff;
	padding: 10px 45px;
	border-radius: 30px;
	text-decoration: none;
	box-shadow: 0 0 15px 1px #d7a34d;
}

.header-phone_button button:hover {
	background: #d72e54;
	color: #fff;
}
.nav-back { display: none; }

.navbar {
	text-transform: uppercase;
	padding: 20px 0;
	margin: 0;
	border-top: 1px solid white;
}
.navbar li { margin: 0 -5px; }

.navbar a {
	text-decoration: underline;
	color: #34333b;
	font-weight: bold;
	font-size: 12px;
	border: 2px dotted transparent;
	padding: 10px;
	border-radius: 30px;
}

.navbar a:hover, .navbar .active a {
	color: #be1d46;
	text-decoration: none;
	border: 2px dotted #34333b;
}

.navbar .active {
	color: #be1d46;
	text-decoration: none;
	border: 2px dotted #34333b;
}
